

.head{
    height: 500px;
    width: auto;
    background-color: rgb(4, 4, 44);
    color: silver;
    text-align: center;
    text-emphasis: hover;
    font-size: 45px;
    margin: 5px;
    padding: 10px;
}
.quotes{
    
    background-color: rgb(4, 4, 44);
    color: silver;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
}

.image {
    display: block;
    margin: 50px;
    padding: 10px;

}
#imageabout {

    display: inline-block;
    margin: 50px;
    padding: 10px;

}
#block1about {
    /* display: block; */
    margin: 18px;
    padding: 10px;
    font-weight: bold;
    font-size: 90%;

}
#block2about {
    /* display: block; */
    margin: 5px;
    padding: 10px;

}
#eventsblock {
    /* display: block; */
    margin-left: 10px;
    padding-top: 0px;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
    font-size: 90%;
    line-height: 1.7em;

}

.paraabout
{
    margin: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 90%;
}
.para2
{
    margin: 5px;
    padding: 10px;
}
.headings{
    
    /* background-color: rgb(3, 3, 59); */
    color: rgb(11, 3, 41);
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    font-family: cursive;
    margin: 5px;
    padding: 10px;
}
.bighead{
    
    /* background-color: rgb(3, 3, 59); */
    color: rgb(11, 3, 41);
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    font-family: cursive;
    margin: 5px;
    padding: 10px;
}

