

.head{
    height: 500px;
    width: auto;
    background-color: rgb(4, 4, 44);
    color: silver;
    text-align: center;
    text-emphasis: hover;
    font-size: 45px;
    margin: 5px;
    padding: 10px;
}
.quotes{
    
    background-color: rgb(4, 4, 44);
    color: silver;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
}

.image {
    display: block;
    margin: 50px;
    padding: 10px;

}
#imageabout {
    display: block;
    margin: 50px;
    padding: 10px;

}
.para2
{
    margin: 30px;
    padding: 10px;
}
