/* <style> */
    .head {
        color: rgba(217, 223, 228, 0.897);
        background-color: rgb(17, 13, 61);
        height: 500px;
        width: auto;
        margin: 5px;
        padding: 10px;
    }

    .head h1 {
        text-align: center;
    }

    .Navigation {
        display: flex;
        padding: 5px;
        margin: 5px;
        overflow: hidden;
        border: 2px solid rgb(17, 13, 61);
    }

    .Navigation a {
        padding: 5px;
        margin: 0px;
        text-decoration: none;
        color: rgb(99, 91, 59);
        font-family: cursive;
    }

    .Navigation a:hover {
        color: sandybrown;
    }

    .active {
        color: maroon;
        background-color: none;

    }


    #para1 {
        font-size: 15px;
        color: rgb(73, 25, 17);
    }

    .mainpara {

        color: rgb(51, 45, 12);
        margin: 5px;
        padding: 10px;
    }
    .para2 {

        color: rgb(51, 45, 12);
        margin: 5px;
        padding: 10px;
    }

    .container {
        background-color: rgba(0, 0, 0, 0.158);
        color: rgb(68, 64, 3);
        display: grid;
        grid-template-columns: 0.2fr 0.2fr;
        grid-row-gap: 0px;

    }

    /* .contact{
        display: box;
    }  */
    .ext {
        margin: 1px;
        text-decoration: none;
    }

    .ext a {
        display: block;
        text-decoration: none;
        color: rgb(6, 11, 53);
        /* color: rgb(99, 91, 59); */
        margin: 1px;
        padding: 1px;
        font-family: cursive;
    }
    .image {
        display: block;
        margin: 50px;
        padding: 10px;
    }   
    .quotes{
    
        background-color: rgb(4, 4, 44);
        color: silver;
        text-align: center;
        font-size: 15px;
        font-family: cursive;
    }

    /* 
    .ext:hover {
        color: sandybrown;
    } */
/* </style> */
